@font-face  {
    font-family: opensans;
    src: url(font/opensans.ttf);
    
}
@font-face  {
    
    font-family: opensansbold;
    src: url(font/opensansbold.ttf);
}

@font-face  {
    
    font-family: opensanslight;
    src: url(font/opensanslight.ttf);
} 

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(backgroundimages/bg-desktop.svg);
    display: flex;
    flex-direction: column;
   
}

header {
    padding: 60px;
}

.wrapper {
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.image {
    max-width: 100%;
    
}

.sec-1 {
    width: 90%;
    height: auto;
    text-align: center;
    margin: 50px;
}

p {
    color: white;
}

.build {
    font-size: 50px;
    font-family: opensans;
    font-weight: 700;
}

.huddle {
    font-family: opensans;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    
}
button{
    border-radius: 40px;
    background-color: white;
    border: none;
    padding: 12px 60px;
    color: hsl(257, 40%, 49%);
    display: inline-block;
    font-size: 15px;
    font-family: opensanslight;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 30px;
}

footer {
    color: white;
    padding: 0 30px;
    text-align: right;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    border: 2px solid white;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    text-align: right;
}
.fa-twitter {
    margin-top: 9px;
    margin-right: 9px;
}

.fa-instagram {
    margin-top: 9px;
    margin-right: 9px;
}

.fa-facebook {
    margin-top: 9px;
    margin-right: 9px;
}

/* iphone*/
@media (min-width: 375px) {
 
    .sec-1 {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    .wrapper {
        margin: 20px auto;
        padding: 40px;  
    }
    .sec-2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    footer {
        text-align: center;
        margin-bottom: ;
        color: white;
        padding: 0 30px;
        text-align: center;
        display: flex;
        justify-content: center; 
        }
    .fa-twitter {
        margin-top: 9px;
        margin-left: 9px;
        }
        
    .fa-instagram {
        margin-top: 9px;
        margin-left: 9px;
        }
        
    .fa-facebook {
            margin-top: 9px;
            margin-left: 9px;
        }
}

@media (min-width: 1440px) {
    .wrapper {
        display: flex;
        flex-direction: row;
    }
    footer {
        text-align: right;
        margin-bottom: ;
        color: white;
        padding: 0 30px; 
        display: flex;
        margin-left: 55%;
        
    }
    .icon {
        text-align: right;
    }

    .sec-2 {
        padding-left: 80px;
        padding-right: 80px;
        margin-right: 400px;
    }
}
