@font-face  {
    font-family: opensans;
    src: url(font/opensans.ttf);
    
}
@font-face  {
    
    font-family: opensansbold;
    src: url(font/opensansbold.ttf);
}

@font-face  {
    
    font-family: opensanslight;
    src: url(font/opensanslight.ttf);
} 

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(backgroundimages/bg-desktop.svg);
}

header {
    padding: 50px;
}
.wrapper {
    display: flex;
    align-items: center;
    margin: 60px;
}

.sec-1 {
    flex: 1;
}
.sec-2 {
    flex: 1;
    width: 100%;
    color: white;
}
.image {
    width: 90%;
}
.build {
    font-family: opensansbold;
    font-size: 50px;
    width: 50%;
}

.huddle {
    font-family: opensans;
    font-size: 30px;
    width: 75%;
}

button{
    border-radius: 40px;
    background-color: white;
    border: none;
    width: 220px;
    height: 60px;
    padding: 12px 60px;
    color: hsl(257, 40%, 49%);
    display: inline-block;
    font-size: 15px;
    font-family: opensanslight;
    font-weight: 400;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 30px;
}

footer {
    color: white;
    /* padding: 0 30px;
    text-align: right; */
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    margin-bottom: 100%;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    border: 2px solid white;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    text-align: right;
}
.fa-twitter {
    margin-top: 10px;
    margin-left: 10px;
}

.fa-instagram {
    margin-top: 10px;
    margin-left: 10px;
}

.fa-facebook {
    margin-top: 10px;
    margin-left: 10px;
} 

@media screen and (max-width: 600px) {
    body {
        background-color: hsl(257, 40%, 49%);
        background-image: url(backgroundimages/bg-mobile.svg);
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;    
    }
    .image {
        width: 500px;
    }
    .sec-1 {
        display: flex;
        flex: 1;
    }
    .sec-2 {
        display: flex;
        flex: 1;
        text-align: center; 
        padding: 30px;  
        width: 100%;
        height: 460px;
    }
    footer {
        color: white;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
} 


