@font-face  {
    font-family: opensans;
    src: url(font/opensans.ttf);
    
}
@font-face  {
    
    font-family: opensansbold;
    src: url(font/opensansbold.ttf);
}

@font-face  {
    
    font-family: opensanslight;
    src: url(font/opensanslight.ttf);
} 

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(backgroundimages/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto;
}

header {
    padding: 50px;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 30px 60px 0px 60px;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}

.sec-1 {
    flex: 1;
}
.sec-2 {
    flex: 1;
    width: 100%;
    color: white;
}
.image {
    width: 90%;
    padding: 5px;

}
.build {
    font-family: opensansbold;
    font-size: 50px;
    width: 80%;
}

.huddle {
    font-family: opensanslight;
    font-size: 25px;
    width: 90%;
}

button{
    border-radius: 40px;
    background-color: white;
    border: none;
    width: 220px;
    height: 60px;
    padding: 12px 60px;
    color: hsl(257, 40%, 49%);
    display: inline-block;
    font-size: 15px;
    font-family: opensanslight;
    font-weight: 400;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 30px;
}
Button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

footer {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    border: 2px solid white;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    text-align: right;
}
.fa-twitter {
    margin-top: 10px;
    margin-left: 10px;
}

.fa-instagram {
    margin-top: 10px;
    margin-left: 10px;
}

.fa-facebook {
    margin-top: 10px;
    margin-left: 10px;
} 

@media screen and (max-width: 700px) {
    body {
        background-image: url(backgroundimages/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top;
    }
    header {
        width: 45%;
    }
    .wrapper { 
        padding: 40px;
        align-content: center;
    }
    .image {
        width: 500px;
        margin-top: 50px;
        justify-content: center; 
    }
    .sec-2 {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .build {
        font-size: 30px;
        width: 75%;
        align-items: center;
        margin: auto;
        margin-top: 4px;
    }
    
    .huddle {
        font-size: 20px;
        width: 75%;
        text-align: center;
        justify-content: center;
        margin: auto;
        margin-top: 4px;
    }
   
    button {
        margin: auto;
        margin-top: 20px;
    }
   
   footer {
       justify-content: center;
       margin-left: 60px;
   }
} 


